/* first layer*/
.container {
  background-color: #1f2937;
  height: 700px;
}
.navbar ul {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  margin-top: -80px;
  margin-right: 30px;
}
.navbar ul li {
  list-style-type: none;
  font-size: 22px;
}
ul li a {
  text-decoration: none;
  text-align: right;
  color: #e5e7eb;
}
/*hero section*/
.hero-section {
  display: flex;
}
.title {
  font-size: 48px;
  color: #f9faf8;
  margin-top: 100px;
  margin-left: 60px;
}
.subtitle {
  display: block;
  font-size: 28px;
  color: #e5e7eb;
  text-align: left;
  margin-left: 60px;
}
.about-us {
  color: #e5e7eb;
  font-size: 20px;
  margin-left: 60px;
}
.rocket {
  margin-top: 60px;
  margin-left: auto;
  margin-right: 180px;
}
.signup {
  display: block;
  margin-left: 60px;
  background-color: #3882f6;
  padding: 10px 30px;
  border: none;
  border-radius: 07px;
  font-size: 16px;
  color: aliceblue;
  font-weight: 300;
}
/*second layer*/
.second-layer-title {
  text-align: center;
  font-size: 28px;
}
.services ul {
  display: flex;
  gap: 15px;
}
.services ul li {
  list-style-type: none;
}
.icons {
  border: 2px solid #3882f6;
  margin-left: auto;
  margin-right: auto;
}
.subtext {
  font-size: 22px;
  font-weight: bold;
}
.information {
  font-size: 18px;
}
.km {
  border: none;
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 7px;
}
/*third layer*/
.third-layer {
  background-color: #e5e7eb;
}
.subheading {
  text-align: center;
  font-size: 36px;
}
.testimonials ul {
  display: flex;
  gap: 10px;
  text-align: center;
  margin-right: 20px;
}
.testimonials ul li {
  list-style-type: none;
}
.person {
  border: 2px solid #000;
}
.customer {
  font-size: 24px;
  font-weight: bold;
}
.post {
  font-size: 18px;
  font-weight: 300;
}
.quote {
  font-size: 16px;
  font-weight: 500;
}
/*footer*/
.footer {
  background-color: #3882f6;
  border: none;
  border-radius: 5px;
}
.footer-head {
  font-size: 26px;
  text-align: left;
  color: #f9faf8;
  margin-left: 30px;
  margin-top: 50px;
}
.footnote {
  font-size: 20px;
  color: #f9faf8;
  text-align: left;
  margin-left: 30px;
}
.foot-link {
  text-decoration: none;
  color: #ffd400;
}
.foot-link:hover {
  text-decoration: underline;
  color: #d0381c;
}
.call-to-action {
  background-color: #3882f6;
  border: 2px solid #f9faf8;
  padding: 10px 20px;
  position: relative;
  top: -40px;
  left: 1020px;
  color: #f9faf8;
  border-radius: 5px;
  font-size: 14px;
}
.copyright {
  background-color: #1f2937;
  height: 50px;
}
.endlogo {
  color: #f9faf8;
  font-size: 18px;
  text-align: center;
  margin-top: 40px;
}
