body{
    background-image:url("https://i.pinimg.com/originals/e8/d8/ee/e8d8ee9edece42916aa5851d7fd7bebd.jpg");

}
h1{
    font-family:'Cabin Sketch', cursive;
    color:beige;
    text-align: center;
    font-size: 6rem;
}
img{
    display:block;
    margin-left: auto;
    margin-right:auto;
    height: 375px;
}
ul li a{
    text-align:center;
    text-decoration: none;
    font-family:'Merriweather', serif;
    color:beige;
    font-size: larger;
}
footer a{
    color:khaki;
    text-decoration: none;
    display:flex;
    justify-content: space-around;
    font-size:20px; 
}
.footer{
    color:seashell;
    font-size:15px;
    display: flex;
    align-items:flex-end;
}
a.fa{
    color:lightcyan;
    font-size: 1.5rem;
    padding: 10px;

}
a.right{
    display:flex;
    justify-content: flex-end;
    color:white;
}